*/weights/*
*/output/*
*/output_google/*
**/forcings/*
**/model_ds/*
**/large/*
*/EKR/*
*/logs/*
*/raw/*
*/latest/*
*/.auth/*
**/Thumbs.db
.config/
__pycache__/
.DS_Store

.terraform
.terraform.lock.hcl

# Allow placeholder files to keep directory structure
!weights/.gitkeep
!output/.gitkeep
!data/.gitkeep
!EKR/.gitkeep
!logs/.gitkeep
!raw/.gitkeep
