# AIFS inference
anemoi-inference[huggingface]==0.6.0
anemoi-models==0.6.0

# Data processing
xarray
scipy
netcdf4
h5netcdf
gcsfs
google-cloud-storage
zarr

# Utilities
python-dateutil>=2.8.0
click>=8.1.0
